section.people 
  .container 
    +blockBox('Happy clients', 'What people say')
    ul.people-list 
      +peopleItem("https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60", 'Matthew Dix', 'Graphic Design', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, possimus? Labore quaerat modi ducimus, tempore necessitatibus quos magnam dolores veniam ab neque placeat omnis pariatur doloribus deserunt iure consectetur. Animi.')
      +peopleItem("./images/img-people1.png", 'Nick Karvounis', 'Graphic Design', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, possimus? Labore quaerat modi ducimus, tempore necessitatibus quos magnam dolores veniam ab neque placeat omnis pariatur doloribus deserunt iure consectetur. Animi.')
      +peopleItem("./images/img-people4.png", 'Jealynn Castillo', 'Graphic Design', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, possimus? Labore quaerat modi ducimus, tempore necessitatibus quos magnam dolores veniam ab neque placeat omnis pariatur doloribus deserunt iure consectetur. Animi.')
      +peopleItem("./images/img-people3.png", 'Mike Petrucci', 'Graphic Design', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, possimus? Labore quaerat modi ducimus, tempore necessitatibus quos magnam dolores veniam ab neque placeat omnis pariatur doloribus deserunt iure consectetur. Animi.')
