section.quote 
  .container 
    .quote-container 
      i.fal.fa-angle-left.quote-arrow-left.quote-arrow 
      .quote-content 
        .quote-icon 
          img(src='./images/img-quote.png')
        .quote-info 
          p.quote-desc "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, consectetur deserunt. Rerum ea consequatur perferendis ipsam ex totam labore. In harum ipsam laboriosam dolorum, consequuntur inventore deserunt! Aut, voluptatem? Perferendis."
          span.quote-author Jon Doe
      i.fal.fa-angle-right.quote-arrow-right.quote-arrow 
