section.service 
  .container 
    +blockBox('We work with', 'Amazing services')
    .service-container
      .service-list
        +serviceItem('fa fa-alarm-clock', 'Photography', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores hic est possimus.')
        +serviceItem('fa fa-ruler-combined', 'Web design', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores hic est possimus.')
        +serviceItem('fa fa-desktop', 'Creativity', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores hic est possimus.')
      .service-list
        +serviceItem('fa fa-book-open', 'Seo', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores hic est possimus.')
        +serviceItem('fa fa-home', 'css/html', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores hic est possimus.')
        +serviceItem('fa fa-square', 'Digital', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores hic est possimus.')
