section.story 
  .container 
    +blockBox('Our Stories', 'Latest blog')
    ul.story-list 
      li.story-item
        .story-media 
          img.story-image(src='./images/img-blog1.png')
          .story-date
            span.story-date-number 15
            span.story-date-text Jan
        h3.story-title Lorem ipsum dolor sit amet
        p.story-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam delectus ea vel aspernatur quisquam 
        .story-meta 
          .story-meta-item 
            i.fa.fa-eye.story-meta-icon 
            span.story-meta-number 542
          .story-meta-item 
            i.fa.fa-comment.story-meta-icon 
            span.story-meta-number 17
      li.story-item
        .story-media 
          img.story-image(src='https://images.unsplash.com/photo-1679843590375-143cc08345df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2M3x8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60')
          .story-date
            span.story-date-number 15
            span.story-date-text Jan
        h3.story-title Lorem ipsum dolor sit amet
        p.story-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam delectus ea vel aspernatur quisquam 
        .story-meta 
          .story-meta-item 
            i.fa.fa-eye.story-meta-icon 
            span.story-meta-number 542
          .story-meta-item 
            i.fa.fa-comment.story-meta-icon 
            span.story-meta-number 17
      li.story-item
        .story-media 
          img.story-image(src='./images/img-blog3.png')
          .story-date
            span.story-date-number 15
            span.story-date-text Jan
        h3.story-title Lorem ipsum dolor sit amet
        p.story-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam delectus ea vel aspernatur quisquam 
        .story-meta 
          .story-meta-item 
            i.fa.fa-eye.story-meta-icon 
            span.story-meta-number 542
          .story-meta-item 
            i.fa.fa-comment.story-meta-icon 
            span.story-meta-number 17