section.team 
  .container 
    +blockBox('Who we are', 'Meet our team', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
    .team-list 
      +teamItem('./images/img-team1.png', 'Mathew Dix', 'Graphic design')
        +teamSocial
      +teamItem('./images/img-team2.png', 'Christopher campbell', 'Branding/UX design')
        +teamSocial
      +teamItem('./images/img-team3.png', 'Michael Fertig', 'Developer')
        +teamSocial
      
section.brand
  .container 
    img(src='./images/img-logos.png' alt='brands')