section.quote 
  .container 
    .quote-container 
      +quoteItem('https://images.unsplash.com/photo-1686644472123-6f5430d2206f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60', true)
      +quoteItem('https://images.unsplash.com/photo-1686956222311-2e1bb5bb1b0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyM3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60', true)
      +quoteItem('https://images.unsplash.com/photo-1685569886123-c4fa4b182c4c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60', true)
      
