.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white;

  // CSS flexbox
  // &-list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-left: -3rem;
  // }

  // &-item {
  //   margin-left: 3rem;
  //   width: calc(33.33% - 3rem);
  // }

  // CSS grid
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }

  &-item {
    position: relative;
    z-index: 1;
    transition: transform 0.25s linear;
  }

  &-item:hover {
    transform: translate(-1rem, -1rem);

    .about-content {
      opacity: 1;
      visibility: visible;
    }

    &::after {
      transform: translate(1rem, 1rem);
    }
  }

  &-item::after {
    content: '';
    @include absoluteFull();
    @include bg($third-color);
    z-index: -1;
    transition: transform 0.25s linear;
  }

  &-content {
    @include absoluteFull();
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s linear;
    background: linear-gradient(
      to bottom,
      rgba($primary-color, 0.8),
      rgba($secondary-color, 0.8)
    );
    z-index: 2;
    color: white;
    @include flexBox(center, center, column);
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
  }

  &-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &-title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.4;
    @include textClamp();
  }

  @include maxWidth(767px) {
    padding-top: 5rem;
    padding-bottom: 5rem;

    // Flex box responsive
    // &-item {
    //   width: 100%;
    //   margin-bottom: 2.5rem;
    // }

    // Grid responsive
    &-list {
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-template-columns: unset;
      grid-row-gap: 2.5rem;
      overflow-x: auto;
      padding: 1rem;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      @include hideScroll();
    }

    &-item {
      scroll-snap-align: center;
    }
  }
}
