.work {
  padding-top: 10rem;

  &-list {
    @include flexBox;
    height: 78rem;
  }

  &-column {
    width: 25%;
  }

  &-content {
    color: white;
    text-align: center;
    padding: 1.5rem;
  }

  &-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1.6;
    @include textClamp(1);
  }

  &-desc {
    font-family: $secondary-font;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
  }

  &-image {
    @include size(100%);
    object-fit: cover;
  }

  &-item {
    height: 50%;
  }

  &-item--full {
    height: 100%;
  }

  @include maxWidth(1600px) {
    &-list {
      height: 60rem;
    }
  }
}

@include hoverEffect('.work-item', '.work-content', 'false');
