extends layout/layout


block container
  include blocks/about
  include blocks/number
  include blocks/service
  include blocks/device
  include blocks/wedo
  include blocks/quote
  include blocks/team
  include blocks/work
